/* CATEGORY PAGE */
/* category page new category button */
.new-category-button
{
    margin: 30px;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 180px;
    height: 50px;
}

.make-new-category-popup
{
    margin-bottom: 60px;
}
.new-category-inputs
{
    background-color: var(--color-accent-dark);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}
.make-new-category-color-input
{
    width: 40px;
    height: 40px;
    padding: 0;
}
.make-new-category-name,
.make-new-category-budget,
.make-new-category-color
{
    display: flex;
    align-items: center;
    color: var(--color-accent-light);
    gap: 10px;
}
.make-new-category-name-input
{
    background-color: var(--color-accent-dark);
    color: var(--color-text);
    border-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
}
.make-new-category-budget-input
{
    background-color: var(--color-accent-dark);
    color: var(--color-text);
    border-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
    text-align: right;
}
.make-new-category-name-input:focus,
.make-new-category-budget-input:focus
{
    outline: none;
    border: 2px solid rgb(27, 41, 30);
}

.save-new-category-button
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: green;
    border-radius: 10px;
    margin-right: 10px;

    line-height: 0;
}
.save-new-category-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.cancel-new-category-button
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: red;
    border-radius: 10px;

    line-height: 0;
}
.cancel-new-category-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.make-new-category-error-message
{
    color: red
}

.categories-list,
.archived-categories-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.category-box 
{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 500px;

    display: flex;
    flex-direction: row;
    position: relative;
    
    background-color: var(--color-accent-dark);
    border-radius: 10px;

    outline: 1px solid var(--color-background);
}
.category-box-color 
{
    width: 40px;
    height: 100%;

    margin-right: 30px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.category-box-content 
{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}
.category-box-name-and-edit
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-box-name 
{
    font-weight: bold;
    color: var(--color-text);
    font-size: 24px;
}
.category-box-budget-label
{
    font-weight: bold;
}
.category-box-budget {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    font-size: 20px;
    color: var(--color-accent-light);
}

.category-box-options-button
{
    align-items: right;
    margin-right: 30px;

    width: 40px;
    height: 40px;

    background: none;
    border: none;
    color: var(--color-text);
}
.category-box-options-button:active
{
    background-color: rgb(42, 63, 46);
    border-radius: 10px;
}

.category-box-options
{
    position: absolute;
    top: 30px;
    right: -18px;
    z-index: 20;

    border-radius: 10px;
    overflow: hidden;

    background-color: var(--color-black);
}

.category-box-options-menu
{
    width: 90px;
    height: 110px;
}
.category-box-options-menu-line
{
    width: 90px;
    height: 2px;
    background-color: var(--color-accent-dark);
    margin: 1px;
}
.category-box-options-menu-button
{
    border-radius: 0px;
    border: none;

    font-size: 15px;
    height: 38px;

    color: var(--color-text);
    
    background-color: transparent;
}
.category-box-options-menu-button:hover
{
    background-color: rgba(255, 255, 255, 0.061);
}

.category-box-options-menu-edit
{
    margin: 10px 30px;
    width: 200px;
    height: 140px;
}
.category-box-options-menu-edit-text
{
    color: var(--color-text);
}
.edit-category-name-input,
.edit-category-budget-input
{
    background-color: var(--color-black);
    color: var(--color-text);
    border: none;
    border-bottom: 1px solid var(--color-background);

    font-size: 14px;

    border-radius: 0;

    margin-left: 10px;
}
.edit-category-name-input
{
    text-align: center;
    width: 133px;
}
.edit-category-budget-input
{
    text-align: center;
    width: 125px;
}
.edit-category-color-input
{
    transform: translateY(4px);
}
.category-box-options-menu-edit-save
{
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-text);

    border-radius: 5px;
    width: 100%;

    font-size: 12px;
}
.category-box-options-menu-edit-save:hover
{
    background-color: rgba(255, 255, 255, 0.061);
}

.archived-categories-dropdown-button
{
    width: 100%;

    margin-top: 40px;
    margin-bottom: 40px;
}
.archived-categories-dropdown-button-text
{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;

    font-size: 17px;
    font-weight: bold;

    margin-right: auto;
    
}
.archived-categories-dropdown-button-icon-open,
.archived-categories-dropdown-button-icon-closed
{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;

    margin-left: auto;
}
