.new-expense-button
{
    margin: 30px;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 200px;
    height: 50px;
}

.new-expense-inputs
{
    width: 100%;

    background-color: var(--color-accent-dark);
    border-radius: 10px;
    
    margin-top: 60px;
    margin-bottom: 10px;
    
    font-size: 18px;
}

.new-expense-inputs-row
{
    display: flex;
    justify-content: space-between;

    width: calc(100% - 60px);

    padding-left: 0px;
    padding-right: 0px;
}

.new-expense-input-label
{
    display: flex;
    align-items: center;
    
    color: var(--color-accent-light);
}

.new-expense-input-input
{
    background-color: var(--color-accent-dark);
    border-color: var(--color-background);
    border-style: inset;
    border-width: 2px;
    color: var(--color-text);

    border-radius: 8px;

    margin-left: 10px;

    padding-left: 10px;
    padding-right: 10px;

    height: 30px;
}

.new-expense-input-amount-label
{
    width: 800px;

    margin-left: 20px;
    margin-right: 20px;
}
.new-expense-input-amount-input
{
    text-align: right;

    display: flex;

    flex-shrink: 1;
    flex-grow: 0;
}

.new-expense-input-date-input
{
    margin-right: 0px;
}

.new-expense-input-note-input
{
    padding-top: 10px;
}

.expense-input-categories-dropdown {
    appearance: none;
    -webkit-appearance: none;

    padding-left: 10px;
    padding-right: 35px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23b7b7b7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
}

.save-new-expense-button
{
    background-color: transparent;
    border: none;
    color: green;
    border-radius: 10px;
    

    margin-left: auto;
    line-height: 0;
}
.save-new-expense-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.cancel-new-expense-button
{
    background-color: transparent;
    border: none;
    color: red;
    border-radius: 10px;

    margin-left: auto;
    line-height: 0;
}
.cancel-new-expense-button:hover
{
    background-color: rgba(255, 255, 255, 0.060);
}

.new-expense-error-message
{
    color: red;
}