body
{
  background-color: rgb(27, 41, 30);
  margin-left: 90px;
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  background-color: rgb(21, 23, 21);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.home-button
{
  background: none;
  border: none;
  color: rgb(161, 199, 160);
  margin: 10.5px;
  margin-top: 22px;
  margin-bottom: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button:hover
{
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}
.home-button:active
{
  background-color: rgb(42, 63, 46);
  border-radius: 10px;
}

.sidebar-button
{
  background: none;
  border: none;
  color: rgb(161, 199, 160);
  margin: 10.5px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-button:hover
{
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}
.sidebar-button:active
{
  background-color: rgb(42, 63, 46);
  border-radius: 10px;
}

.sidebar-bottom
{
  margin-top: auto;
}

.sidebar-line 
{
  width: 40px;
  height: 3px;
  background-color: rgb(42, 63, 46);
  margin: 12px auto;
}

.settings-button
{
  background: none;
  border: none;
  color: rgb(161, 199, 160);
  margin: 10.5px;
  margin-top: 12px;
  margin-bottom: 22px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.settings-button:hover
{
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}
.settings-button:active
{
  background-color: rgb(42, 63, 46);
  border-radius: 10px;
}

.title
{
  color: rgb(161, 199, 160);
  font-size: 25px;
}

.budget-bar
{
  position: absolute;
  left: 90px;
  top: 100px;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.budget-icon
{
  transform: rotate(125deg);
  color: rgb(21, 23, 21);
}

.budget-text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
}
.budget-bar-amount
{
  color: rgb(161, 199, 160);
}